# {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
     }
     
   header{
       height: 100ch;
        width: 100vw;
        background-image: url(rm222-mind-16.jpg);
        background-size: cover;

      }
    .navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content:space-between;
    width: 95%;
    box-sizing: border-box;
    align-items: center;
    }
    .navbar a {
      color: black;
    }
    .logo{
      font-size: xx-large;
      font-weight: bold;
   }
   ul{
      display: flex;
      list-style-type: none;
      
    }
    li{
      margin:20px;
      font-weight: 900;
     
      right: 50%;
   }
   a{
      text-decoration:none;
   }
   h2 {
   position:absolute;
   top: 20ch;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   left: 5%;
}
button {
   position: absolute;
   top:50ch;
   left:5%;
   background-color: rgb(231, 242, 242);
   font-style: italic;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   transition: all;
}   
img{
   position: absolute;
   width: 500px;
   top: 20ch;
   left: 120ch
}